importFrom(BiocGenerics, annotation, "annotation<-")

importMethodsFrom(AnnotationDbi,
		mget)

importFrom(annotate,
           getAnnMap)

importFrom(colorspace,
		rainbow_hcl)

importFrom(hwriter,
		openPage,
		closePage)

importMethodsFrom(graph,
		nodeData,
		"nodeData<-",
		nodeDataDefaults,
		"nodeDataDefaults<-",
		edgeData,
		"edgeData<-",
		edgeDataDefaults,
		"edgeDataDefaults<-",
		nodes,
		"nodes<-",
		removeEdge,
		addEdge)

importClassesFrom(graph,
		graphAM,
		graphNEL)

importMethodsFrom(GSEABase,
		geneIds,
		"geneIds<-",
		ontology)

importFrom(Category,
		".doHyperGTest",
		"categoryName")

importMethodsFrom(Category,
		universeBuilder,
		universeGeneIds,
		categoryToEntrezBuilder,
		pvalueCutoff,
		"pvalueCutoff<-",
		testDirection,
		"testDirection<-",
		"ontology<-",
		categoryName,
		makeValidParams,
		geneCounts,
		pvalues,
		universeCounts,
		universeMappedCount,
		expectedCounts,
		geneIdUniverse,
		oddsRatios,
		geneCounts,
		geneIdsByCategory,
		geneMappedCount,
		pvalueCutoff,
		testDirection,
		testName,
		organism
)

importFrom(GOstats,
		GOGraph)

importClassesFrom(Category,
		HyperGParams,
		GOHyperGParams,
		KEGGHyperGParams,
		HyperGResultBase,
		HyperGResult)


importFrom(RCy3,
    createNetworkFromGraph,
		setNodeShapeMapping,
		setNodeColorMapping,
		setNodeTooltipMapping,
		getTableColumns,
		selectEdges,
		selectNodes,
		deleteSelectedEdges,
		layoutNetwork,
		exportImage,
		deleteNetwork)

importClassesFrom(Biobase,
                  AssayData)

exportMethods(
	"fdr",
	"fdr<-",
	"hyperGTestCC",
	"fdrvalues",
  "listNames",
  "compareNames",
  "compareNames<-",
  "compareIndx",
  "compareColors",
  "compareColors<-",
  "ccType",
  "ccType<-",
  "pvalueType",
  "pvalueType<-",
  "outType",
  "outType<-",
	"minCount",
	"minCount<-",
	"ccEnrich",
	"ccCompare",
	"mainGraph",
	"mainTable",
	"allAnnotation",
	"ccOutCyt",
	"annotation",
	"ontology",
	"geneAnnMapping",
	"graphType",
	"graphType<-",
	"sigID",
	"mergeLists",
	"cwReload",
	"cytOutNodes",
	"cytOutData",
	"resetColors",
	"breakEdges",
  "pvalueCutoff",
  "pvalueCutoff<-"
		)

exportClasses(
	"HyperGParamsCC",
	"GOHyperGParamsCC",
	"KEGGHyperGParamsCC",
	"HyperGResultCC",
	"GOHyperGResultCC",
	"KEGGHyperGResultCC",
    "ccOptions",
    "ccGeneList",
    "ccEnrichResult",
    "GOccEnrichResult",
    "KEGGccEnrichResult",
	"ccEnrichCollection",
    "ccCompareResult",
	"ccCompareCollection",
	"ccSigList",
	"GENccEnrichResult",
	"mergedData"
)

